In [1]:
import pandas as pd
df = pd.read_csv('CVD.csv')

In [2]:
df.head()

,General_Health,Checkup,Exercise,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Within the past 5 years,Yes,No,No,No,No,No,No,Male,40-44,175,32.66,33.00,No,0,30,16,12
1,Within the past year,No,Yes,No,No,No,Yes,No,Male,60-64,168,32.66,30.04,Yes,0,30,0,4
2,Within the past 2 years,Yes,No,No,No,No,No,No,Female,60-64,178,32.66,22.50,No,4,12,3,16
3,Within the past year,No,No,No,No,No,No,No,Male,25-29,185,32.66,26.58,No,0,30,30,8
4,Within the past year,Yes,No,No,No,No,No,No,Female,50-54,160,32.66,38.35,No,0,8,4,0

In [3]:
data_dup = df.duplicated().any()

In [4]:
df.drop_duplicates()

,General_Health,Checkup,Exercise,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Within the past 5 years,Yes,No,No,No,No,No,No,Male,40-44,175,32.66,33.00,No,0,30,16,12
1,Within the past year,No,Yes,No,No,No,Yes,No,Male,60-64,168,32.66,30.04,Yes,0,30,0,4
2,Within the past 2 years,Yes,No,No,No,No,No,No,Female,60-64,178,32.66,22.50,No,4,12,3,16
3,Within the past year,No,No,No,No,No,No,No,Male,25-29,185,32.66,26.58,No,0,30,30,8
4,Within the past year,Yes,No,No,No,No,No,No,Female,50-54,160,32.66,38.35,No,0,8,4,0
5,Within the past year,No,No,No,No,Yes,No,Yes,Female,50-54,165,32.66,30.72,No,0,12,12,12
6,Within the past year,Yes,No,No,No,No,No,No,Female,60-64,165,32.66,27.46,No,0,16,8,0
7,Within the past year,Yes,No,No,No,No,No,Yes,Male,70-74,188,32.66,34.54,No,3,30,8,8
8,Within the past year,Yes,No,No,No,No,No,No,Male,70-74,175,32.66,32.92,No,0,12,12,4
9,Within the past year,Yes,No,No,No,No,No,No,Female,70-74,152,32.66,30.18,No,0,12,12,1
10,Within the past 5 years,Yes,No,No,No,No,No,No,Male,65-69,173,32.66,31.00,No,0,30,20,2

In [5]:
cate_val=[]
cont_val=[]
for column in df.columns:
    if df[column].nunique()<=10:
        cate_val.append(column)
    else:
        cont_val.append(column)

In [6]:
cate_val

['General_Health',
 'Checkup',
 'Exercise',
 'Skin_Cancer',
 'Other_Cancer',
 'Depression',
 'Diabetes',
 'Arthritis',
 'Sex',
 'Age_Category',
 'Height_(cm)',
 'Weight_(kg)',
 'Smoking_History',
 'Alcohol_Consumption',
 'Fruit_Consumption',
 'Green_Vegetables_Consumption',
 'FriedPotato_Consumption']

In [7]:
cont_val

['BMI']

In [8]:
df=pd.get_dummies(df,columns=cate_val,drop_first=True)

In [9]:
df

,BMI,General_Health_Within the past 5 years,General_Health_Within the past year,Checkup_Yes,Exercise_Yes,Depression_Yes,Diabetes_Yes,Arthritis_Yes,Sex_Male,Age_Category_40-44,...,Green_Vegetables_Consumption_12,Green_Vegetables_Consumption_16,Green_Vegetables_Consumption_20,Green_Vegetables_Consumption_30,FriedPotato_Consumption_1,FriedPotato_Consumption_2,FriedPotato_Consumption_4,FriedPotato_Consumption_8,FriedPotato_Consumption_12,FriedPotato_Consumption_16
0,33.00,1,0,1,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
1,30.04,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,22.50,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,26.58,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
4,38.35,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,30.72,0,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
6,27.46,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,34.54,0,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8,32.92,0,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
9,30.18,0,1,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
10,31.00,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0

# Feature Scaling

In [1]:
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

# Create a CNN model
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(64, 64, 1)))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(128, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(4, activation='softmax'))

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=50, validation_data=(X_test, y_test))

# Make predictions on new ECG images
prediction = model.predict(new_ecg_images)

ModuleNotFoundError: No module named 'keras'

In [ ]:
conda create --name keras_env

In [ ]:
conda activate keras_env

In [ ]:
conda install -c anaconda keras

In [ ]:
!pip install tensorflow